<div class="container">
    <div class="row">
        <!--About Me Section-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/croppedheadshot.jpg" alt="profile picture" width="256" height="256" class="rounded-circle">
                <p>As a graduate of Cal Poly University, their motto "Learn by Doing" has changed 
                    the way I approach understanding new concepts. Instead of reading pages 
                    and pages of seemingly meaningless documentation, I would rather take an 
                    idea for a project and attempt to complete it. As someone who is (probably) 
                    famous once said, "The journey is more important than the destination".

                    When I'm not snowboarding, hiking or gaming, I enjoy sharpening my software development skills and learning about new medical device technology. I am passionate about improving and growing my skill set as a developer, 
                    and would love to work for a company that encourages personal and professional growth.</p>
            </div>
        </div>
        <!--Featured Project Section-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>

            <carousel>
                <div *ngFor="let picture of featuredProject.pictures">
                    <slide><img src={{picture}} alt="slide" style="display: block; width: 100%;"></slide>
                </div>
            </carousel>

            <p class="mt-2">{{featuredProject.summary}}</p>
            <p>Visit the Portfolio section to learn more!</p>
        </div>
    </div>
</div>