<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width: 380;">
            <app-project-card [projectName]="'Sample Angular App'"></app-project-card>
        </div>
        <div class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width: 380;">
            <app-project-card [projectName]="'Theatre Vertigo'"></app-project-card>
        </div>
        <div class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width: 380;">
            <app-project-card [projectName]="'LinkedIn Scraper'"></app-project-card>
        </div>
    </div>
</div>